body {
  font-family: Poppins,sans-serif;
  letter-spacing: .02em;
  color: #000;
  background: #1B0423;
  overflow-x: hidden;
}
.img-logo {
    width: 100% !important;
    float: left;
}
.language-change {
  float: right;
  display: block;
  margin-right: 5%;
  margin-top: 2.5%;
}
.language-change a {
  margin-left: 10px;
}
.navbar {
  float: right;
  margin-right: 10%;
  margin-top: 25px;
  background : transparent !important;
}
.nav-item {
  margin-right: 30px;
}
.active {
  border-bottom: 2px solid #fff;
}  
.nav-link:hover {
  border-bottom: 2px solid #fff;
}  

.nav-item a {
  font-weight: 600;
  color: #fff !important;
  font-size: 1.5rem;
}
.item {
  background: #1b0c23;
  border-radius: 20px;
  margin-bottom: 10px;
  display: flex;
  padding: 15px;
}
p {
  color: #fff;
}
/* .site-footer__hr {
  border-bottom: 1px solid #088daa;
}

.site-footer p,
.site-footer__linklist-item a,
.site-footer__rte a,
.site-footer h4,
.site-footer small,
.site-footer__copyright-content a,
.site-footer__newsletter-error,
.site-footer__social-icons .social-icons__link {
  color: #ffffff;
} */

.site-footer {
  color: #ffffff;
  margin-top: 45%;
  background: linear-gradient( 
      90deg
       , #42D784 14.16%, #5BD5CD 82.94%);

}

/* .site-footer__rte a {
  border-bottom: 1px solid #ffffff;
}

.site-footer__rte a:hover,
.site-footer__linklist-item a:hover,
.site-footer__copyright-content a:hover {
  color: #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.site-footer__social-icons .social-icons__link:hover {
  color: #e6e6e6;
} */


@media only screen and (min-width: 4096px) { 

  
  .topnav {
    display: block;
  }
  .topnav-mobile a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 50px !important;
    font-weight: 900;
}
  .comming-soon {
    text-align: center;
    background: linear-gradient( 
90deg
 , #42D784 14.16%, #5BD5CD 82.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    margin-left: 7%;
    font-size: 9rem;
    margin-top: 5%;
    }
    #gtranslate_wrapper {
      display: block;
      font-weight: 600;
      color: #fff !important;
      font-size: 50px;
      margin-top: -1%;
    }
    #gtranslate_wrapper option {
      color:#000;
      font-size: 16px !important;
    }
    .nav-item a {
      font-weight: 600;
      color: #fff !important;
      font-size: 1.5rem;
    }
    .align-items-center {
      align-items: center!important;
      padding: 30px;
      margin-top: 10%;
  }
  .site-footer {
    color: #ffffff;
    margin-top: 45% !important;
    background: linear-gradient( 
        90deg
         , #42D784 14.16%, #5BD5CD 82.94%);

  }
  .img-opps {
    margin-top: 5%;
    margin-bottom: -10%;
    margin-left: 5%;
    width: 20%;
  }
  .img-shapecircle {
    float: right;
    margin-top: 2%;
    margin-bottom: -10%;
    margin-right: 0%;
    width: 8%;
  }
}


@media only screen and (max-width: 4096px) and  (min-width: 2561px) { 

  
.topnav {
  display: block;
}
.topnav-mobile a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 50px !important;
  font-weight: 900;
}
.comming-soon {
  text-align: center;
  background: linear-gradient( 
90deg
, #42D784 14.16%, #5BD5CD 82.94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  margin-left: 7%;
  font-size: 9rem;
  margin-top: 5%;
  }
  #gtranslate_wrapper {
    display: block;
    font-weight: 600;
    color: #fff !important;
    font-size: 50px;
    margin-top: -1%;
  }
  #gtranslate_wrapper option {
    color:#000;
    font-size: 16px !important;
  }
  .nav-item a {
    font-weight: 600;
    color: #fff !important;
    font-size: 1.5rem;
  }
  .align-items-center {
    align-items: center!important;
    padding: 30px;
    margin-top: 10%;
}
.site-footer {
  color: #ffffff;
  margin-top: 45% !important;
  background: linear-gradient( 
      90deg
       , #42D784 14.16%, #5BD5CD 82.94%);

}
.img-opps {
  margin-top: 5%;
  margin-bottom: -10%;
  margin-left: 5%;
  width: 20%;
}
.img-shapecircle {
  float: right;
  margin-top: 2%;
  margin-bottom: -10%;
  margin-right: 0%;
  width: 8%;
}
}



@media only screen and (max-width: 2560px) and  (min-width: 1921px) { 

.topnav {
  display: block;
}
.topnav-mobile a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 23px !important;
  font-weight: 900;
}
.comming-soon {
  text-align: center;
  background: linear-gradient( 
90deg
, #42D784 14.16%, #5BD5CD 82.94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  margin-left: 7%;
  font-size: 9rem;
  }
  #gtranslate_wrapper {
    display: block;
    font-weight: 600;
    color: #fff !important;
    font-size: 23px;
    margin-top: -5%;
  }
  #gtranslate_wrapper option {
    color:#000;
    font-size: 16px !important;
  }
  .nav-item a {
    font-weight: 600;
    color: #fff !important;
    font-size: 1.5rem;
  }
  .align-items-center {
    align-items: center!important;
    padding: 30px;
    margin-top: 10%;
}
.site-footer {
  color: #ffffff;
  margin-top: 45% !important;
  background: linear-gradient( 
      90deg
       , #42D784 14.16%, #5BD5CD 82.94%);

}
.img-opps {
  margin-top: 10%;
  margin-bottom: -10%;
}
}

@media only screen and (max-width: 1920px) and  (min-width: 1441px) { 

.topnav {
  display: block;
}
.comming-soon {
      text-align: center;
  background: linear-gradient( 
90deg
, #42D784 14.16%, #5BD5CD 82.94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  padding-top: 5%;
  margin-left: 10%;
  font-size: 5rem;
  }
  #gtranslate_wrapper {
    display: block;
    font-weight: 600;
    color: #fff !important;
    font-size: 1.5rem;
    margin-top: -5%;
  }
  #gtranslate_wrapper option {
    color:#000;
    font-size: 16px !important;
  }
  .nav-item a {
    font-weight: 600;
    color: #fff !important;
    font-size: 1.5rem;
  }
  .align-items-center {
    align-items: center!important;
    padding: 30px;
    margin-top: 10%;
}
.site-footer {
  color: #ffffff;
  margin-top: 45%;
  background: linear-gradient( 
      90deg
       , #42D784 14.16%, #5BD5CD 82.94%);

}
.img-opps {
  margin-top: 10%;
  margin-bottom: -10%;
}
}


@media only screen and (max-width: 1440px) and  (min-width: 1281px) { 
.topnav {
  display: block;
}  
.comming-soon {
      text-align: center;
  background: linear-gradient( 
90deg
, #42D784 14.16%, #5BD5CD 82.94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  padding-top: 12%;
  margin-left: 10%;
  }
  .navbar {
    float: right;
    margin-right: 5%;
    margin-top: 5%;
    background: transparent !important;
}
.img-opps {
  width: 20%;
  margin-top: 10%;
}
  #gtranslate_wrapper {
    display: block;
    font-weight: 600;
    color: #fff !important;
    font-size: 18px;
    margin-top: -6%;
  }
  #gtranslate_wrapper option {
    color:#000;
    font-size: 16px;
  }
  .nav-item a {
    font-weight: 600;
    color: #fff !important;
    font-size: 1.2rem;
  }
  
}


@media only screen and (max-width: 1280px) and  (min-width: 1081px) { 


.topnav {
  display: block;
  float: right;
  margin-top: 3% !important;
}
.comming-soon {
      text-align: center;
  background: linear-gradient( 
90deg
, #42D784 14.16%, #5BD5CD 82.94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  padding-top: 12%;
  margin-left: 10%;
  }
  .navbar {
    float: right;
    margin-right: 5%;
    margin-top: 5%;
    background: transparent !important;
}
.img-opps {
  width: 20%;
  margin-top: 10%;
}
  #gtranslate_wrapper {
    display: block;
    font-weight: 600;
    color: #fff !important;
    font-size: 18px;
    margin-top: -6%;
  }
  #gtranslate_wrapper option {
    color:#000;
    font-size: 16px;
  }
  .nav-item a {
    font-weight: 600;
    color: #fff !important;
    font-size: 1.2rem;
  }
  
}


@media only screen and (max-width: 1080px) and  (min-width: 992px) {
.topnav {
  display: block;
  margin-top: 3.5% !important;
  margin-right: -2.5%;
}
.topnav-mobile a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px !important;
  font-weight: 900;
}
.comming-soon {
  text-align: center;
background: linear-gradient( 
90deg
, #42D784 14.16%, #5BD5CD 82.94%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: 600;
padding-top: 5%;
margin-left: 10%;
}
.nav-item a {
font-weight: 600;
color: #fff !important;
font-size: 0.8rem;
}
.navbar-nav {
margin-top: 4.5%;
}
.navbar {
float: right;
margin-right: -7%;
margin-top: 2.5%;
background: transparent !important;
}
#gtranslate_wrapper {
display: block;
font-weight: 600;
color: #fff !important;
font-size: 16px;
margin-top: -6%;
}
#gtranslate_wrapper option {
color:#000;
}
.nav-item a {
font-weight: 600;
color: #fff !important;
font-size: 1.2rem;
}
}



@media only screen and (max-width: 991px) and  (min-width: 768px) {
.topnav {
  display: block;
  margin-top: 4.5% !important;
  margin-right: -2.5%;
}
.comming-soon {
  text-align: center;
background: linear-gradient( 
90deg
, #42D784 14.16%, #5BD5CD 82.94%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: 600;
padding-top: 10%;
margin-left: 10%;
}
.img-opps {
width: 30%;
margin-top: 10%;
}
.nav-item a {
font-weight: 600;
color: #fff !important;
font-size: 0.8rem;
}
.navbar-nav {
margin-top: 4.5%;
}
.navbar {
float: right;
margin-right: -7%;
margin-top: 2.5%;
background: transparent !important;
}
#gtranslate_wrapper {
display: block;
font-weight: 600;
color: #fff !important;
font-size: 14px;
margin-top: -9%;
}
#gtranslate_wrapper option {
color:#000;
}
.nav-item a {
font-weight: 600;
color: #fff !important;
font-size: 1.2rem;
}
.navbar-nav {
width: 500px;
float: right;
display: -webkit-inline-box;
margin-top: 6.5%;
margin-right: -15%;
}
.nav-item a {
font-weight: 600;
color: #fff !important;
font-size: 0.8rem;
}

}


@media only screen and (max-width: 768px) and  (min-width: 576px) {
.topnav {
  display: block;
  margin-top: -2.5% !important;
  margin-right: -2.5%;
}
.comming-soon {
  text-align: center;
background: linear-gradient( 
90deg
, #42D784 14.16%, #5BD5CD 82.94%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: 600;
padding-top: 10%;
margin-left: 10%;
}
.img-opps {
width: 30%;
margin-top: 10%;
}
.nav-item a {
font-weight: 600;
color: #fff !important;
font-size: 0.8rem;
}
.navbar-nav {
margin-top: 4.5%;
}
.navbar {
float: right;
margin-right: -7%;
margin-top: 2.5%;
background: transparent !important;
}
#gtranslate_wrapper {
display: block;
font-weight: 600;
color: #fff !important;
font-size: 12px !important;
margin-top: -9%;
}
#gtranslate_wrapper option {
color:#000;
}
.nav-item a {
font-weight: 600;
color: #fff !important;
font-size: 1.2rem;
}
.navbar-nav {
width: 500px;
float: right;
display: -webkit-inline-box;
margin-top: 6.5%;
margin-right: -15%;
}
.nav-item a {
font-weight: 600;
color: #fff !important;
font-size: 0.8rem;
}

}


@media only screen and (max-width: 414px) and  (min-width: 376px) {


.comming-soon {
  text-align: center;
background: linear-gradient( 
90deg
, #42D784 14.16%, #5BD5CD 82.94%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: 600;
padding-top: 5%;
margin-left: 10%;
}
#gtranslate_wrapper option {
color:#000;
}
.site-footer__newsletter {
background-color: #fff;
border: 2px solid #FFAE70;
box-sizing: border-box;
box-shadow: 0px 22px 38px rgb(0 0 0 / 25%);
border-radius: 32px;
padding: 20px;
margin-top: -100px;
height: 250px;
margin-bottom: 0%;
width: 90%;
}
.nav-item a {
font-weight: 600;
color: #fff !important;
font-size: 0.8rem;
}
.navbar-nav {
margin-top: 4.5%;
}
.navbar {
float: right;
margin-right: -7%;
margin-top: 2.5%;
background: transparent !important;
}
#gtranslate_wrapper {
display: block;
font-weight: 600;
color: #fff !important;
font-size: 1.2rem;
margin-top: 0%;
}
#gtranslate_wrapper option {
color:#000;
}
.nav-item a {
font-weight: 600;
color: #fff !important;
font-size: 1.2rem;
}
.img-opps {
width: 35%;
  margin-top: 30%;
}
.img-shapecircle {
width: 15%;
  margin-top: 20%;
}
#shopify-section-footer {
padding-top: 0%;
}
.site-footer {
color: #ffffff;
margin-top: 55%;
background: linear-gradient( 
90deg
, #42D784 14.16%, #5BD5CD 82.94%);
}

}


@media only screen and (max-width: 375px) and  (min-width: 320px) {

.menu-contain {
  margin-top: -53px;
}
.comming-soon {
  text-align: center;
background: linear-gradient( 
90deg
, #42D784 14.16%, #5BD5CD 82.94%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: 600;
padding-top: 5%;
margin-left: 10%;
}
#gtranslate_wrapper option {
color:#000;
}
.site-footer__newsletter {
background-color: #fff;
border: 2px solid #FFAE70;
box-sizing: border-box;
box-shadow: 0px 22px 38px rgb(0 0 0 / 25%);
border-radius: 32px;
padding: 20px;
margin-top: -100px;
height: 250px;
margin-bottom: 0%;
width: 90%;
}
.nav-item a {
font-weight: 600;
color: #fff !important;
font-size: 0.8rem;
}
.navbar-nav {
margin-top: 4.5%;
}
.navbar {
float: right;
margin-right: -7%;
margin-top: 2.5%;
background: transparent !important;
}
#gtranslate_wrapper {
display: block;
font-weight: 600;
color: #fff !important;
font-size: 1.2rem;
margin-top: 0%;
}
#gtranslate_wrapper option {
color:#000;
}
.nav-item a {
font-weight: 600;
color: #fff !important;
font-size: 1.2rem;
}
.img-opps {
width: 35%;
  margin-top: 30%;
}
.img-shapecircle {
width: 15%;
  margin-top: 20%;
}
#shopify-section-footer {
padding-top: 0%;
}
.site-footer {
color: #ffffff;
margin-top: 55%;
background: linear-gradient( 
90deg
, #42D784 14.16%, #5BD5CD 82.94%);
}

}